<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/songs.css">

    <title>Playlist Setup</title>

</head>
<style>
  img {
    transition: all 10s;
  }
</style>
<body>

    <div class="container-fluid">

        <div class="row">
            <div class="jumbotron">
              <div class="row">
                <div class="col-xs-5" style="padding-right: 25px;">
                  <img src="/images/sblocktify.png" class="img-thumbnail" alt="logo" style="display: inline; margin-left: auto; margin-right: auto;" /><br />
                </div>
                <div class="col-xs-7">
                  <h1 style="color: white;">Welcome to Splocktify <br><small class="welcome">Create or join a playlist</small></h1>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h3>Join playlist</h3>
                <form class="form-inline" action="/song" id="joinNetwork">
                    <input class="form-control" id='host' type="text" name="host" placeholder="Please input host" />
                    <input class="form-control" id='port' type="text" name="port" placeholder="Please input port" />
                    <input class="btn btn-primary" type="button" value="Join playlist" onclick='joinNetwork()' />
                </form>

            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h3>New playlist</h3>
                <form class="form-inline" action="/song" id="newNetwork">
                    <input class="form-control" id='name' type="text" name="name" placeholder="Please name your playlist..." />
                    <input class="btn btn-primary" type="button" value="Create playlist" onclick='startNewNetwork()' />
                </form>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


<script>

    setInterval(function(){
      $('img').toggleClass('img-circle');
    }, 1000);

    function startNewNetwork() {
        console.log('Start new network!');
        //Create new song with Mark api
        var name = $('#name').val();
        axios.post(`/playlist/${name}`) //create playlist on spotify

                .then(
                        ({ data }) => {
                            console.log('Data:', data);
                            axios.post(`/playlistInformation/${data.playlistID}/${data.playlistName}/${data.userID}`) //update local playlist info
                                    .then(
                                            () => {
                                                console.log('Playlist posted');
                                                window.location.href = '/songs';
                                            },
                                            (err) => {
                                                console.log('Musiconomi error:', err);
                                            }
                                    )
                        },
                        (err) => {
                            console.log('Mark error:', err);
                        }
                )
    }

    function joinNetwork() {
        console.log('Join network!')
        var host = $('#host').val();
        var port = $('#port').val();
        console.log('Host:', host);
        console.log('Port:', port);
        axios.get(`http://${host}:${port}/playlistInformation`) //get playlist information from remotehost
                .then(
                        ({data}) => {
                            axios.post(`/playlist/join/${data.playlistName}`, {bshost: host, bsport: (parseInt(port)+1000)})   //create own playlist on spotify
                                    .then(
                                            ({data}) => {
                                                axios.post(`/playlistInformation/${data.playlistID}/${data.playlistName}/${data.userID}`)  //update local playlist info
                                                        .then(
                                                                () => {
                                                                    console.log('Playlist information updated');
                                                                    window.location.href = '/songs';
                                                                },
                                                                (err) => {
                                                                    console.log('PI POST error:', err);
                                                                }
                                                        )
                                            },
                                            (err) => {
                                                console.log('Join error:', err);
                                            }
                                    )
                        }, (err) => {
                            console.log('PI GET error:', err);
                        }
                )

    }


</script>
</body>
</html>
