<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/songs.css">


    <title>{{title}}</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron text-center">
                <h1 style="color: white;">{{title}} <br>
                <small class="welcome">Choose wisely...</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h3>Songs are added to <a href="spotify:user:{{userID}}:playlist:{{playlistID}}">{{playlistName}}</a> </h3>
	            <h3>Points: <span id='points'>Creating score..</span></h3>
                <div id="spotifyIframe">
                    <div id="iframe-wrapper">
                        <iframe id="player" src="https://open.spotify.com/embed?uri=spotify:user:{{userID}}:playlist:{{playlistID}}" ></iframe>
                    </div>
                    <button class="btn btn-primary" onclick="refreshTheiFrame()">Opdatér (der kan gå nogle minutter)</button>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Search for a song here: </h3>
                <div id="song-search">
                    <form class="form-inline" action="/" id="searchForSong">
                        <input class="form-control" id="song-search-text-input" type="text" name="searchForSong" placeholder="Enter song name" />
                        <input class="btn btn-primary" id="song-search-button" type="submit" value="Search" />
                    </form>
                </div>
                <ul id="searchResults">
                </ul>

            </div>
            <div class="col-sm-3">
                <h3>Songs up for voting:</h3>
                <ul id="songsForVoting">

                </ul>

            </div>

        </div>
    </div>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

    var authToken = "{{accessToken}}";
    ws = new WebSocket("ws://{{serverIP}}:{{serverPort}}/songs");

    ws.addEventListener('open', function(){
        console.log("Websocket are up");
        ws.send("Websocket are up");
    });

    ws.addEventListener("message", function(msg) {
        console.log("Msg", msg);

        var parsedMsg = JSON.parse(msg.data);
        if(parsedMsg.type === "song") {
        	var songRequest = parsedMsg.payload;
	        console.log(songRequest);
	        songCameUpForVote(songRequest);
	        return;
        }

	    if(parsedMsg.type === "points"){
		    console.log("Points up for update!", parsedMsg.payload);
		    $("#points").text(parsedMsg.payload);
		    return;
	    }

	    console.log("addEventListener: event not interpreted", parsedMsg);
    });

    function songCameUpForVote(request) {
    	var songid = request.songId;
        $.ajax({
            url: "https://api.spotify.com/v1/tracks/" + songid,
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + authToken)
            },
            processData: false,
            contentType: 'application/json',
            success: function (response) {
                console.log("Response: ", response);
                var trackName = response.name;
                var trackArtist = response.artists[0].name;

                $('#songsForVoting').append(
                        $('<li class="list-group-item voting-list" id =' + songid + ' >').append("<div id='text-in-voting-list'><b> Track: </b>" + trackName + ", <b>Artist:</b> " + trackArtist +"</div>"
                                + "<div id=vote-button-wrapper>  <button class=\"btn btn-success voting-button\" onclick='upvote(\"" + request.requesterId + "\", \"" +  songid + "\");'>Upvote</button>"
                                + " <button class=\"btn btn-danger voting-button\" onclick='downvote(\"" + request.requesterId + "\", \"" +  songid + "\");'>Downvote</button></div>"
                            ));
                $('#value').html(response);
            },
            error: function (err) {
                console.error(err);
            }
        })

        //Remove the song from voting queue before the next block happens.
        setTimeout(function(){
            var elem = document.getElementById(songid);
            elem.parentNode.removeChild(elem); }, 14500); //TODO: THIS INTERVAL NEEDS TO BE SMALLER THAN THE P2P NETWORK's BLOCK INTERVAL!!!!!

    }

    function upvote(requester, songId) {

        var songVoteURL = "/songVoting/" + requester + "/" + "1";
        console.log("UP:" + songVoteURL);

        $.ajax({
            url: songVoteURL,
            type: 'PUT',
            processData: false,
            contentType: 'application/json',
            //data: JSON.stringify({}),
            success: function(response) {
                console.log("Response: ", response);

                $('#value').html(response);

            },
            error: function(err){
                alert("Upvote error :(");
                console.error(err);
            }
        });

        var elem = document.getElementById(songId);
        elem.parentNode.removeChild(elem);
    }

    function downvote(requester, songId) {

        var songVoteURL = "/songVoting/" + requester + "/" + "-1";
        console.log("DOWN:" + songVoteURL);

        $.ajax({
            url: songVoteURL,
            type: 'PUT',
            processData: false,
            contentType: 'application/json',
            //data: JSON.stringify({}),
            success: function(response) {
                console.log("Response: ", response);

                $('#value').html(response);

            },
            error: function(err){
                alert("Downvote error :(");
                console.error(err);
            }
        });

        var elem = document.getElementById(songId);
        elem.parentNode.removeChild(elem);
    }
</script>

<script>

    setInterval(function(){ refreshTheiFrame(); console.log("Playlist iframe refreshed")}, 30000); //refresh spotify iframe every 30s


    /* attach a submit handler to the form */
    var tracks;
    var authToken = "{{accessToken}}";

    $("#searchForSong").submit(function(event) {

        $("#searchResults").empty();

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var $form = $(this),
                searchParam = $form.find('input[name="searchForSong"]').val();

        console.log("URL:", searchParam);
        document.getElementById("searchResults").style.overflowY = "scroll";
        console.log("BUTTON PRESSED");
        $.ajax({
            url: "https://api.spotify.com/v1/search?query=" + searchParam + "&type=track&market=DK&offset=0&limit=20",
            type: 'GET',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + authToken)
            },
            processData: false,
            contentType: 'application/json',
            success: function(response) {
                console.log("Response: ", response);
                tracks = response.tracks.items;

                if(tracks.length<1){
                    $('#searchResults').append($('<li>').append("No results"));
                }

                for (var i = 0; i < tracks.length; i++) {
                    console.log(tracks[i]);
                    $('#searchResults').append(
                            $('<li id ="song-list-item" class="list-group-item" >').append("<img src="+tracks[i].album.images[1].url+" style='float: left; width: 100px; height: auto;' /><div id='song-text'><a href=" + tracks[i].uri + ">" + "<b>Artist: </b>" + tracks[i].artists[0].name + ", <b>Track:</b> " + tracks[i].name + ", <br><b>Album:</b> " + tracks[i].album.name + "</a></div>"
                    + " <button class= 'btn btn-primary song-list-button' id= '" + tracks[i].uri + "' onclick='addToPlaylist(\"" + tracks[i].uri + "\",\"" + tracks[i].id + "\");'>Add to playlist</button>"
                    ));
                }
                $('#value').html(response);
            },
            error: function(err){
                console.error(err);
            }
        })

        $(document).on('click', '#addToPlaylist', function(){
            $(this).closest('#addToPlaylist').hide();
        });


    });

    function addToPlaylist(songURI, id) {

        var playlistURL = "/playlist/{{playlistID}}/" + songURI;
        console.log(playlistURL);

        $.ajax({
            url: playlistURL,
            type: 'PUT',
            processData: false,
            contentType: 'application/json',
            //data: JSON.stringify({}),
            success: function(response) {
                console.log("Response: ", response);

                $('#value').html(response);

                var button = document.getElementById(songURI);
                button.innerHTML = "Added to playlist";
                button.classList.add('btn-success');
                button.classList.remove('btn-primary');
                button.disabled = true;


            },
            error: function(err){
                alert("Something bad happened, check your logs before you wreck your...erm... logs.. shut up. I'm funny.");
                console.error(err);
            }
        });
    }


    function refreshTheiFrame(){
        //$('iframe')[0].src = $('iframe')[0].src;
        window.frames['player'].src = window.frames['player'].src;
    }

</script>
</body>
</html>
