/* Prettyfication of the songs.hbs */
#spotifyIframe {
    width: 100%;
    height: 380px;
    border: none;
}
iframe {
    width:100%;
    height:100%;
    border:0px;
}

#spotifyIframe > button {
    opacity: 0.3;
    width: 100%;
    right:0px;
    bottom:0px;
    transition: 0.5s;
}

#iframe-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1em;
}

#spotifyIframe > button {
    opacity: 1;
}

#song-list-item{
    margin-left: -40px;
    line-height: 3em;
}

.song-list-button{
    float: right;
    height: 2.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-top: -60px;
}

#searchResults{
    height: 380px;
    overflow: hidden;
    overflow-x: hidden;

}

#searchForSong{
    width: 100%;
}

.voting-list{
    margin-left: -40px;
    line-height: 4em;
    width: 100%;
    margin-bottom: 0.5em;
}

.voting-button{
    height: 2.5em;
    width: 100%;
}

#song-search{
    width: 100%;
    margin-bottom: 1em;
}

#song-search-text-input{
    margin-right: 1em;
    width: 80%;
}

#song-search-button{
    width: 18%;
    float: right;
    position: absolute;
}

#vote-button-wrapper{
    height: auto;
    width: auto;
}

.jumbotron{
    background-color: #2083CC;
    border-radius: 0px;

}

.welcome{
   color: white;
}

#song-list-item{
    height: auto;
}
#song-text{
    width: 100%;
}

#album-cover img{
    float: right;
    padding-right: 1em;
    height: 100%;
    width: auto;

}

img {
    height: 100px;
    float: right;
    padding-right: 1em;
}

#jegertræt{
    width: 75%;
}
